#csstab {
  font-size: 14px;
  position: fixed;
  top: 30%;
  right: 0;
  height: 80px;
  width: 36px;
  overflow: hidden;
}
#csstab > div {
  font: 14px/14px monospace!important;
  position: relative;
  left: -17px;
  top: 25px;
  height: 28px;
  width: 78px;
  text-align: center;
  background-color: #333333;
  border: 1px solid #AA8866;
  color: #885511;
  padding: 4px;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#csstab > div:hover {
  color: #AA8866;
}
#csidebar {
  position: absolute;
  background-color: #4C4A41;
  z-index: 1000;
  overflow: hidden;
  line-height: 1!important;
  font-family: Helvetica, Arial, sans-serif;
}
#css-stylelist {
  max-width: 484px;
  width: 100%;
  margin-left: 10px;
  margin-top: 6px;
  font-size: 16px;
  background-color: rgb(245, 245, 245);
}
#css-save, #css-close, #css-dock {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  color: #885511;
  background-color: #333333;
  width: 50px;
  text-align: center;
  border: 1px solid #885511;
  padding: 3px;
  text-decoration: none;
  cursor: pointer;
}
#cedit {
  position: relative;
  overflow: hidden;
  left: 0;
}
#csidebar.right {
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
}
#csidebar.right #cedit {
  margin-top: 35px;
  height: 100%;
  width: 494px;
}
#csidebar.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
}
#csidebar.bottom #cedit {
  margin-top: 10px;
  max-height: 235px;
  height: 100%;
  width: 100%;
}
#css-save:hover, #css-close:hover, #css-dock:hover {
  color: #AA8866;
  border-color: #AA8866;
}
#css-switch {
  padding: 0 10px;
  max-width: 494px;
  margin: 10px auto 0;
  float: left;
  font-size: 14px;
  font-family:'Cantarell', 'Ubuntu', 'Trebuchet MS', monospace;
  z-index: 1000;
}
#css-switch label {
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding: 0 0 0 24px;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
#css-switch input[type="checkbox"], #css-switch label::before {
  width: 16px;
  height: 16px;
  left: 0;
  position: absolute;
  cursor: pointer;
}
#css-switch input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  top: 50%;
  z-index: 100;
}
#css-switch input[type="checkbox"] + label::before {
  opacity: .2;
  content:'';
  border: 2px solid rgb(0, 0, 0);
  -webkit-transition: opacity 0.3s, background 0.3s;
  transition: opacity 0.3s, background 0.3s;
}
#css-switch input[type="checkbox"]:checked + label {
  -webkit-transition: opacity 0.3s, background 0.3s;
  transition: opacity 0.3s, background 0.3s;
  opacity: .8;
  color: rgb(255, 255, 255);
}
#css-switch input[type="checkbox"]:checked + label::before {
  -webkit-transition: opacity 0.3s, background 0.3s;
  -moz-transition: opacity 0.3s, background 0.3s;
  transition: opacity 0.3s, background 0.3s;
  opacity: .8;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
  content:'\2717';
  color: rgb(0, 0, 0);
}
